In [1]:
import pandas as pd
import numpy as n
from scipy.stats import chisquare
from scipy.stats import f_oneway

In [6]:
df = pd.read_csv("Titanic-Dataset.csv")
df.info()
df = df.dropna(subset=['Age'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [12]:
def age_group(age):
    if age <= 2:
        return 'Infant'
    elif age <= 12:
        return 'Child'
    elif age <= 17:
        return 'Teenager'
    elif age <= 25:
        return 'Youth'
    elif age <= 55:
        return 'Adult'
    else:
        return 'Elderly'

df['age_category'] = df['Age'].apply(age_group)
grouped = df.groupby(['age_category', 'Pclass']).size().reset_index(name='Count')
print(grouped)

   age_category  Pclass  Count
0         Adult       1    118
1         Adult       2    101
2         Adult       3    154
3         Child       1      2
4         Child       2     10
5         Child       3     33
6       Elderly       1     26
7       Elderly       2      7
8       Elderly       3      7
9        Infant       1      2
10       Infant       2      7
11       Infant       3     15
12     Teenager       1      8
13     Teenager       2      6
14     Teenager       3     30
15        Youth       1     30
16        Youth       2     42
17        Youth       3    116

In [13]:
pivot_table = df.pivot_table(index='age_category', columns='Pclass', aggfunc='size', fill_value=0)
print(pivot_table)

Pclass          1    2    3
age_category
Adult         118  101  154
Child           2   10   33
Elderly        26    7    7
Infant          2    7   15
Teenager        8    6   30
Youth          30   42  116

In [14]:
chisquare([118,101,154,2,10,33,26,7,7,2,7,15,8,6,30,30,42,116],f_exp=[92,91,186,12,11,23,11,10,20,6,6,12,12,11,22,49,46,94])

Power_divergenceResult(statistic=np.float64(79.49131154011769), pvalue=np.float64(4.721372305660111e-10))